* {
  font-family: 'Roboto', sans-serif;
}

.example {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  width: 5em;
  height: 3em;
  padding: 5px;
  margin: 5px;
}

input[type="number"] {
  width:100%;
  font-size: 1.3em;
}

.theme1 {
  background: #6ba539; 
  color: white;
}

.theme2 {
  background: #e4002b;
  color: white;
}

footer {
  text-align: c
  padding: 10px;
}

footer.theme1  {
  border: 10px solid #314b1a;
}

footer.theme2{
  border: 10px solid #7d0018;
}