* {
  font-family: 'Roboto', sans-serif;
}

.app {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,h2,h3,h4,h5,h6 {
  color: black;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  width: 3em;
  height: 2em;
  padding: 5px;
  margin: 3px;
  font-size: 1.4em;
}

input[type="number"] {
  width:100%;
  font-size: 1.3em;
}

.theme1 {
  background: #6ba539; 
  color: white;
}

.theme2 {
  background: #e4002b;
  color: white;
}

footer {
  display: flex;
  padding: 10px;
  height:30px;
  align-items: center;
  justify-content: center;
}

footer.theme1  {
  border: 10px solid #314b1a;
}

footer.theme2{
  border: 10px solid #7d0018;
}