body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
}

.app {
  flex-basis: 350px;
  height: 100vh;
  background-color: white;
}

.app h2 {
  background: #753bbd;
  color: white;
  padding: 2px;
}

.toc {
  text-align: left;
}
.toc li{
  padding: 5px;
}

.page {
  padding: 15px;
  flex: 2;
  background-color: #fe5000;
}